<div id="banner">
    <div id="banner1">  
    <img class="banner-img" src="./ISDT 2024_files/banner3.jpg" alt="" style="height:200px">
    <img class="banner-img" src="./ISDT 2024_files/banner4.jpg" alt="" style="height:200px">
    <img class="banner-img" src="./ISDT 2024_files/banner5.jpg" alt="" style="height:200px">
    <img class="banner-img" src="./ISDT 2024_files/banner6.jpg" alt="" style="height:200px">
    <img class="banner-img" src="./ISDT 2024_files/banner1.jpg" alt="" style="height:200px">
    <img class="banner-img" src="./ISDT 2024_files/banner2.jpg" alt="" style="height:200px">
    <img class="banner-img" src="./ISDT 2024_files/banner3.jpg" alt="" style="height:200px">
    <img class="banner-img" src="./ISDT 2024_files/banner4.jpg" alt="" style="height:200px">
    <img class="banner-img" src="./ISDT 2024_files/banner5.jpg" alt="" style="height:200px">
    <img class="banner-img" src="./ISDT 2024_files/banner6.jpg" alt="" style="height:200px">
    </div>
    <div id="banner2">  
    <img class="banner-img" src="./ISDT 2024_files/banner3.jpg" alt="" style="height:200px">
    <img class="banner-img" src="./ISDT 2024_files/banner4.jpg" alt="" style="height:200px">
    <img class="banner-img" src="./ISDT 2024_files/banner5.jpg" alt="" style="height:200px">
    <img class="banner-img" src="./ISDT 2024_files/banner6.jpg" alt="" style="height:200px">
    <img class="banner-img" src="./ISDT 2024_files/banner1.jpg" alt="" style="height:200px">
    <img class="banner-img" src="./ISDT 2024_files/banner2.jpg" alt="" style="height:200px">
    <img class="banner-img" src="./ISDT 2024_files/banner3.jpg" alt="" style="height:200px">
    <img class="banner-img" src="./ISDT 2024_files/banner4.jpg" alt="" style="height:200px">
    <img class="banner-img" src="./ISDT 2024_files/banner5.jpg" alt="" style="height:200px">
    <img class="banner-img" src="./ISDT 2024_files/banner6.jpg" alt="" style="height:200px">
    </div>
</div>
<script language="JavaScript" src="./ISDT 2024_files/main.js"></script>