<div class="head">
    <div class="container">
        <div class="row">
            <div class="col-md-16">
                <div class="title-area">
                    <!-- 设置会议标志和学校标志 -->
                    <img src="./ISDT 2024_files/Logo.png" name="images1" height="200" align="LEFT" width="200" style="margin: 0px 20px">
                    <a href="https://www.qfnu.edu.cn/"><img src="./ISDT 2024_files/QufuLogo.png" name="images1" height="200" align="RIGHT" width="200" style="margin: 0px 20px"></a>
                    <h1 class="main-title">ISDT 2024</h1>
                    <div>
                        <span style="padding-left:0cm;font-size:16pt">The 10th International Symposium of Domain Theory and its Applications<br></span>
                    </div>
                        <br><em>Qufu, Shandong, China, 2-5 Aug, 2024</em>                           
                </div>
            </div>
        </div>  
    </div>
</div>